:root{
	--bs-border-color: white
}

html {
    height: 100%;
}
body {
    min-height: 100%;
	background-color: darkgray;
}


#label-output-primary{
    color: tomato;
}

#label-output-secondary{
    color: cornflowerblue;
}



#svgContainer { 
	z-index: -10;
	position:absolute;
}

.nav-item > span{
    cursor: pointer;
}